@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-r from-slate-900 to-gray-800  text-secondary-1 min-h-screen flex-col;
  }
}

/* Hide the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #272932; /* Light gray background color */
}

/* Define the scrollbar */
::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
}

/* Define the scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #8e7c75; /* Medium gray color */
  border-radius: 0px; /* Rounded corners for the scrollbar handle */
}

/* Define the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #8e7c75; /* Darker gray color on hover */
}

.privacy-policy ::selection {
  background-color: yellow;
  color: black;
}
.caret {
  /* Adjust these styles to customize the caret appearance and blinking */
  color: yellow;
  font-size: 30px;
  animation: blink 1s infinite;
  position: absolute; /* Absolute positioning within the character span */
  top: -8px; /* Top-align with character (adjust as needed) */
  left: -10px; /* Left-align with character (adjust as needed) */
  visibility: visible; /* Initially hidden, controlled by useTypings.js */
  z-index: 2; /* Optional: Ensure caret stays on top of character text (adjust as needed) */
  transition: left 0.3s ease, top 0.3s ease;
}
@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.correct {
  @apply text-slate-300;
}

.incorrect {
  @apply text-red-500;
}

/* .caret {
  transition: left 0.3s ease, top 0.3s ease;
} */
